* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  background: hsl(218, 28%, 13%);
}

header,
h1,
h2,
h3,
.cta {
  font-family: "Raleway";
  color: white;
}

p {
  color: rgb(212, 209, 209);
}

h1 {
  line-height: 1.3em;
}

img {
  width: 100%;
}

.cta {
  background: linear-gradient(
    45deg,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%) 60%
  );
  padding: 1em 6em;
  border-radius: 50px;
  border: none;
  font-weight: bold;
}

/*hero section*/
main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background: hsl(217, 28%, 15%);
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 2em 2em;
}

header > ul > li > a {
  text-decoration: none;
  color: rgb(212, 209, 209);
  font-size: 0.8rem;
}

header > ul > li > a:hover {
  color: white;
}

header > ul > li {
  list-style: none;
}

header > ul {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: space-between;
}

header > img {
  width: 5em;
}

#hero-section-img-container {
  width: 100%;
  text-align: center;
}

#hero-section-img-container > img:nth-of-type(1) {
  position: relative;
  width: 21em;
  margin-bottom: -2em;
  z-index: 1;
}

#h1-hero-section {
  position: relative;
  bottom: 4.5em;
  text-align: center;
  padding: 0 1em;
}

#p-button-hero-container {
  position: relative;
  padding: 1em 2em;
  margin-top: -6.5em;
  background: hsl(218, 28%, 13%);
  text-align: center;
}

#p-button-hero-container > p {
  font-size: 0.8rem;
}

#p-button-hero-container > button {
  margin-top: 1em;
}

#first-section-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 5em;
  padding: 5em 2em;
}

#first-section-flex-wrapper h3 {
  color: white;
}

#first-section-flex-wrapper p {
  color: rgb(212, 209, 209);
}

#first-section-flex-wrapper > div {
  text-align: center;
}

.first-section-img {
  width: 18%;
  margin-bottom: 1em;
}

#first-section-security-icon {
  width: 15%;
}

#first-section-flex-wrapper > div > h3 {
  margin-bottom: 0.5em;
}

#second-section-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 2em;
  padding: 0 2em;
  margin-bottom: 8em;
}

#second-section-flex-wrapper > img {
  align-self: center;
  width: 80vw;
}

#second-section-flex-wrapper > div > h3 {
  color: white;
}

#second-section-flex-wrapper > div > p {
  color: rgb(212, 209, 209);
}

#second-section-flex-wrapper > div > h3,
p {
  margin-bottom: 1em;
}

#second-section-flex-wrapper > div > span {
  color: hsl(176, 68%, 64%);
}

#third-section-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1.5em;
  padding: 0 2.5em;
  margin-bottom: 5em;
  color: rgb(212, 209, 209);
}

#third-section-flex-wrapper::before {
  content: "";
  height: 0.8em;
  width: 1.3em;
  background-image: url(images/bg-quotes.png);
  margin-bottom: -1em;
  background-position: center;
  background-size: cover;
}

#third-section-flex-wrapper img {
  width: 6.5vw;
  border-radius: 50px;
}

#third-section-flex-wrapper > div {
  background: hsl(213, 37%, 17%);
  padding: 1.5em;
  font-size: 0.7rem;
  line-height: 1.7em;
  border-radius: 10px;
}

.testimonial-name {
  color: white;
  font-weight: bold;
}

#email-form-section {
  padding: 0 1em;
  color: rgb(212, 209, 209);
}

#form-wrapper {
  position: relative;
  top: 10em;
  border-radius: 10px;
  background: hsl(213, 37%, 17%);
  text-align: center;
  padding: 2em 1em;
  margin-top: -5em;
}

#form-wrapper > h3 {
  color: white;
  margin-bottom: 1em;
}

#form-wrapper > form > input {
  background: white;
  padding: 1em 9em 1em 2em;
  border-radius: 20px;
}

#form-wrapper > form > input::placeholder {
  font-size: 0.8em;
  color: rgb(189, 186, 186);
}

footer {
  color: white;
  background: hsl(209, 66%, 9%);
  padding: 15em 1em 1em 1em;
}

footer > img {
  margin: 0 0 2em 1.5em;
}

footer > ul > li {
  list-style: none;
}

footer > ul > li > a {
  text-decoration: none;
  color: white;
}
