* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  background: hsl(218, 28%, 13%);
}

header,
h1,
h2,
h3,
.cta {
  font-family: "Raleway";
  color: white;
}

p {
  color: rgb(212, 209, 209);
}

h1 {
  line-height: 1.3em;
}

img {
  width: 100%;
}

.cta {
  background: linear-gradient(
    45deg,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%) 60%
  );
  padding: 1em 6em;
  border-radius: 50px;
  border: none;
  font-weight: bold;
}

.cta:hover {
  background: hsl(176, 68%, 64%);
}

/* animations ---------------------------------------------------------------------------------------*/

@keyframes slideIn {
  from {
    opacity: 0%;
    margin-right: -1em;
  }
  to {
    opacity: 100%;
    margin-right: -2em;
  }
}

@keyframes fillUp {
  from {
    width: 0em;
  }
  to {
    width: 9.2em;
  }
}

/*hero section ---------------------------------------------------------------------------------------*/
main {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  /* background: hsl(217, 28%, 15%); */
  background: red;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 2em 2em;
}

header > ul > li > a {
  text-decoration: none;
  color: rgb(212, 209, 209);
  font-size: 0.8rem;
}

header > ul > li > a:hover {
  color: white;
  text-decoration: underline;
}

header > ul > li {
  list-style: none;
}

header > ul {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: space-between;
}

header > img {
  width: 5em;
}

#main-illustration-container {
  padding: 0 1.5em;
}

#main-illustration-container > img {
  position: relative;
  margin-bottom: -2em;
  z-index: 1;
}

main > section > img:nth-of-type(1) {
  margin-bottom: -1em;
}

/* first section  -----------------------------------------------------------------------------*/
/* transition zone h1-para-overlap-main-first-section-container */

#h1-para-overlap-main-first-section-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-top: -10.5em;
}

#h1-para-overlap-main-first-section-container > h1 {
}

#h1-para-overlap-main-first-section-container > p {
  font-size: 0.9rem;
}

#h1-para-overlap-main-first-section-container > .cta {
  width: 20em;
}

#first-section-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 5em;
  position: relative;
  padding: 5em 2em;
}

#first-section-flex-wrapper h3 {
  color: white;
}

#first-section-flex-wrapper p {
  color: rgb(212, 209, 209);
}

#first-section-flex-wrapper > div {
  text-align: center;
}

.first-section-img {
  width: 18%;
  margin-bottom: 1em;
}

#first-section-security-icon {
  width: 15%;
}

#first-section-flex-wrapper > div > h3 {
  margin-bottom: 0.5em;
}

/* second section  ------------------------------------------------------------------------------------------*/

#second-section-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 2em;
  padding: 0 2em;
  margin-bottom: 8em;
}

#second-section-flex-wrapper > img {
  align-self: center;
  width: 80vw;
}

#second-section-flex-wrapper > div > h3 {
  color: white;
}

#second-section-flex-wrapper > div > p {
  color: rgb(212, 209, 209);
}

#second-section-flex-wrapper > div > h3,
p {
  margin-bottom: 1em;
}

#second-section-flex-wrapper > div > span {
  position: relative;
  color: hsl(176, 68%, 64%);
}

#arrow-icon-animation::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1em;
  left: 0;
  bottom: 0;
  margin-bottom: -0.5em;
  background: hsl(176, 68%, 64%);
}

#arrow-icon-animation:hover::after {
  animation-name: fillUp;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

#arrow-icon-animation::before {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  right: 0;
  bottom: 0;
  opacity: 0;
  margin-right: -1em;
  background-image: url(images/icon-arrow.svg);
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}

#arrow-icon-animation:hover {
  cursor: pointer;
}

#arrow-icon-animation:hover::before {
  animation-name: slideIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

/* third section  ---------------------------------------------------------------------------------------*/

#third-section-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1.5em;
  padding: 0 2.5em;
  margin-bottom: 5em;
  color: rgb(212, 209, 209);
}

#third-section-flex-wrapper::before {
  content: "";
  height: 0.8em;
  width: 1.3em;
  background-image: url(images/bg-quotes.png);
  margin-bottom: -1em;
  background-position: center;
  background-size: cover;
}

#third-section-flex-wrapper img {
  width: 6.5vw;
  border-radius: 50px;
}

#third-section-flex-wrapper > div {
  background: hsl(213, 37%, 17%);
  padding: 1.5em;
  font-size: 0.7rem;
  line-height: 1.7em;
  border-radius: 10px;
}

.testimonial-name {
  color: white;
  font-weight: bold;
}

#email-form-section {
  padding: 0 1em;
  z-index: 2;
  color: rgb(212, 209, 209);
}

#form-wrapper {
  position: relative;
  top: 10em;
  z-index: 2;
  border-radius: 10px;
  background: hsl(213, 37%, 17%);
  text-align: center;
  padding: 2em 1em;
  margin-top: -5em;
}

#form-wrapper > h3 {
  color: white;
  margin-bottom: 1em;
}

#form-wrapper > form > input {
  background: white;
  padding: 1em 9em 1em 2em;
  border-radius: 20px;
  margin-bottom: 1em;
  border: none;
}

#form-wrapper > form > input::placeholder {
  font-size: 0.8em;
  color: rgb(189, 186, 186);
}

/* footer ----------------------------------------------------------------------------------*/

footer {
  position: relative;
  bottom: 0;
  z-index: 1;
  color: white;
  background: hsl(209, 66%, 9%);
  padding: 15em 1em 1em 1em;
}

footer > img {
  width: 10em;
  margin: 0 0 2em 1em;
}

#footer-location-para {
  position: relative;
  padding-left: 3em;
}

#footer-location-para::before {
  content: "";
  position: absolute;
  height: 1.1em;
  width: 0.8em;
  top: 0.3em;
  background-image: url(images/icon-location.svg);
  background-position: top;
  background-size: cover;
  margin-left: -2em;
}

#footer-phoneNumber {
  position: relative;
  padding-left: 3em;
}

#footer-phoneNumber::before {
  content: "";
  position: absolute;
  height: 1em;
  width: 1em;
  top: 0.3em;
  margin-left: -2em;
  background-image: url(images/icon-phone.svg);
  background-position: center;
  background-size: cover;
}

#footer-example-email {
  position: relative;
  padding-left: 3em;
}

#footer-example-email::before {
  content: "";
  position: absolute;
  height: 1em;
  width: 1.5em;
  border-radius: 2px;
  top: 0.3em;
  margin-left: -2em;
  background-image: url(images/icon-email.svg);
  background-position: center;
  background-size: cover;
}

#flex-footer-ul-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 4em;
  padding-left: 1em;
}

footer > ul > li {
  list-style: none;
}

footer > ul > li > a {
  text-decoration: none;
  color: white;
}

footer > ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: space-around;
}

.flex-footer-li-container {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.flex-footer-li-container > li {
  list-style: none;
}

.flex-footer-li-container > li > a {
  color: rgb(212, 209, 209);
  text-decoration: none;
}

.flex-footer-li-container > li > a:hover {
  color: white;
}

#flex-social-media-icons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 4em 0 2em 0;
}

.svg-social-icons {
  width: 1.8em;
}

.svg-social-icons:hover {
  cursor: pointer;
  filter: invert(0.5) sepia(1) hue-rotate(175deg) saturate(6) brightness(200%);
}

/* media queries ------------------------------------------------------------------------------------------------ */
